/* CSS declarations go here */
body {
	background-color: #EAE4CC;
}
h1 {
	margin: 0;
	padding: 0;
	font-size: 50px;
}
p {
    margin: 0;
    padding: 0;
}
.head {

}
.monospace {
	font-family: monospace;
}
.list {
	font-size: 30px;
	line-height: 150%;
}
.list-items {
	
}