body {
	/*vbackground-color: #EAE4CC; */
}
h1 {
	margin: 0;
	padding: 0;
	font-size: 50px;
}
p {
    margin: 0;
    padding: 0;
}
a{
	color: #23BCD7;
}
.listLink:hover {
	background-color: #23BCD7;
}
.head {

}
.monospace {
	font-family: monospace;
}
.list {
	font-size: 30px;
	line-height: 150%;
}
.list-items {

}
.title {
	font-size: 40px;
	color: black;
}
.alignForm {
	float: center;
}
.website {
	font-size: 30px;
}
.pageBack {
	font-size: 10px;
}
#starFavorite {
    margin-right: 10px;
    position: absolute;
    top: 80px;
    right: 0;
}
.container {
	position: relative 
}
.star {
	position: absolute; 
   	right: 0px; 
   	top: -70px
}
.map-container {
  width: 100%;
  max-width: 100%;
  height: 500px;
}
